body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
}

#rotatingImage {
  transition: transform 1s ease-in-out;
}
